- content_for :title do
  %title dickey.xxx | About

%h1 About
#body
  %article
    %p My name is Jeff Dickey. I am a 26 year old software engineer living in Santa Monica.
    %p I am the lead engineer at <a href="http://productionbeast.com">ProductionBeast</a>, a networking app for the entertainment industry.
    %p I grew up in <a href="#{image_path 'beaver.jpg'} ">Oregon</a> and spent a few years in San Francisco <a href="#{image_path 'business.jpg'}">working with many different startups</a> both full-time and on contract basis. I've been building Ruby on Rails apps for about 4 years, including one that receives over 1 million requests per minute making it likely the largest Rails installation in the world.
    %p In addition to ProductionBeast, I am involved with various groups teaching programming to both the experienced and inexperienced. Education is very important to me, so I like to give back whenever I get the chance. Currently I'm starting [dotplus](http://dotplus.io) and teaching at [General Assembly](https://generalassemb.ly/instructors/jeffrey-dickey/1516).
    %p I've had a <a href="http://github.com/dickeyxxx">few open source contributions</a>, although I haven't given back nearly as much as I wish I have.
    %p
      Check out some of the
      = link_to "side projects", "/projects"
      I've worked on, or read some of the
      = link_to "articles", "/"
      I've written.
    %p Check out some of the side projects I've worked on, or read some of the articles I've written. If you're in Los Angeles, <a href="http://letsgrababeer.com">Let's grab a beer</a>.
    %h2 Coderwall achievements
    %p
      %section.coderwall{ data: { "coderwall-username" => "dickeyxxx", "coderwall-orientation" => "horizontal" } }
      = javascript_include_tag "//coderwall.com/javascripts/jquery.coderwall.js"
