- content_for :title do
  %title Blog by Jeff Dickey

#body
  - for post in @posts
    %h1= link_to post, post.permalink
    %span.date= post.post_date.to_s(:long)
    %h2 By Jeff Dickey
    - if post.image.url
      %hr
      = image_tag post.image.url(:banner), alt: nil
    %hr
    = markdown(post.body).split(/<\/p>/).first
    = link_to "Read more...", post.permalink, class: 'readmore'
    %hr
