- content_for :title do
  %title #{@post.name} by Jeff Dickey
- content_for :head do
  %meta{ property: "og:title", content: @post }
  %meta{ property: "og:type", content: "article" }
  %meta{ property: "og:image", content: @post.image.url }
  %meta{ property: "og:url", content: @post.permalink }
  %meta{ property: "og:description", content: strip_tags(@post.body.split(/<\/p>/).first) }
  %meta{ itemprop: "name", content: @post }
  %meta{ itemprop: "description", content: strip_tags(@post.body.split(/<\/p>/).first) }
  %meta{ itemprop: "image", content: @post.image.url }

#body
  %article
    %h1= link_to @post, @post.permalink
    %span.date= @post.post_date.to_s(:long)
    %h2.tags
      - @post.tag_list[0..2].each do |tag|
        = link_to tag.titleize, "/tags/#{tag}"
    - if @post.image.url
      = image_tag @post.image.url(:banner), alt: nil, class: 'banner'
    = markdown @post.body
  - if admin_user_signed_in?
    %hr
    = link_to "Edit", admin_post_path(@post)
  - if @related_posts.length != 0
    %hr
    %h2 Related Posts
    %ul
      - for post in @related_posts
        %li
          =link_to "#{post}", post.permalink
          = "- " + post.post_date.to_s(:long)
  %hr
  .social
    %a.twitter-share-button{ 'href' => "https://twitter.com/share", 'data-url' => @post.permalink, 'data-text' => @post.name, 'data-count' => "horizontal", 'data-via' => "dickeytk" } Tweet
    .fb-like{ 'data-href' => @post.permalink, 'data-send' => "false", 'data-layout' => 'button_count', 'data-width' => "1", 'data-show-faces' => "false" }
    .gp
      %g:plusone{ size: 'medium' }
  #disqus_thread
  :javascript
      var disqus_shortname = 'jeffdickey';
      var disqus_identifier = 'post:#{@post.id}';
      var disqus_url = '#{@post.permalink}';
      var disqus_developer = #{Rails.env.development?};
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
