- content_for :title do
  %title #{@post.name} by Jeff Dickey
- content_for :head do
  %meta{ property: "og:title", content: @post }
  %meta{ property: "og:type", content: "article" }
  %meta{ property: "og:image", content: @post.image.url }
  %meta{ property: "og:url", content: @post.permalink }

%h1= Blog
#body
  %article
    %span.date= @post.post_date.to_s(:long)
    %h2= @post.name
    - if @post.image.url
      %hr
      = image_tag @post.image.url(:banner)
    %hr
    = markdown @post.body
  - if admin_user_signed_in?
    %hr
    = link_to "Edit", admin_post_path(@post)
  - if @related_posts.length != 0
    %hr
    %h2 Related Posts
    %ul
      - for post in @related_posts
        %li
          =link_to "#{post}", post.permalink
          = "- " + post.post_date.to_s(:long)
  %hr
  %h2 Tags
  .tags
    - for tag in @post.tag_list
      = link_to tag, "/blog/tags/#{tag}"
  %hr
  .social
    %a.twitter-share-button{ 'href' => "https://twitter.com/share", 'data-url' => @post.permalink, 'data-text' => @post.name, 'data-count' => "horizontal", 'data-via' => "dickeytk" } Tweet
    .fb-like{ 'data-href' => @post.permalink, 'data-send' => "false", 'data-layout' => 'button_count', 'data-width' => "1", 'data-show-faces' => "false" }
  #disqus_thread
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  :javascript
      var disqus_shortname = 'jeffdickey';
      var disqus_identifier = 'post:#{@post.id}';
      var disqus_url = '#{@post.permalink}';
      var disqus_developer = #{Rails.env.development?};
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
