!!!
%html{ itemscope: '', itemtype: 'http://schema.org/Article' }
  %head
    = yield :title

    = favicon_link_tag    "/favicon.png"
    = stylesheet_link_tag    "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic&subset=latin"
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "//coderwall.com/stylesheets/jquery.coderwall.css"
    = javascript_include_tag "application"
    = javascript_include_tag "//platform.twitter.com/widgets.js"
    = javascript_include_tag "//coderwall.com/javascripts/jquery.coderwall.js"

    = auto_discovery_link_tag :atom, 'http://dickey.xxx/posts.xml'

    :javascript

      // Gauges
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4fd661fef5a1f553f2000006');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();

      // GA
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16475858-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      // FB
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=#{ENV['FACEBOOK_APP_ID']}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // G+
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      var GoSquared = {};
      GoSquared.acct = "GSN-054192-K";
      (function(w){
        function gs(){
          w._gstc_lt = +new Date;
          var d = document, g = d.createElement("script");
          g.type = "text/javascript";
          g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(g, s);
        }
        w.addEventListener ?
          w.addEventListener("load", gs, false) :
          w.attachEvent("onload", gs);
      })(window);

    %meta{ name: "viewport", content: "user-scalable=no, width=device-width, initial-scale=1.0" }
    %meta{ property: "og:site_name", content: "Jeff Dickey's Blog" }
    %meta{ property: "fb:app_id", content: ENV['FACEBOOK_APP_ID'] }
    - if content_for? :head
      = yield :head
    - else
      %meta{ property: "og:title", content: "dickey.xxx" }
      %meta{ property: "og:type", content: "website" }
      %meta{ property: "og:image", content: "http://dickey.xxx/img/xxx.jpg" }
      %meta{ property: "og:url", content: "http://dickey.xxx" }
    = csrf_meta_tags
  %body
    #fb-root
    #sidebar-bg
    #sidebar
      = image_tag 'xxx.jpg', class: 'jeff'
      %h1= link_to "Jeff Dickey", '/'
      = link_to image_tag('rss.png'), 'http://feeds.feedburner.com/jeffdickey', class: 'feed'
      %nav
        %ul
          %li= link_to "Let's grab a beer!", 'http://letsgrababeer.com/'
          %li= link_to_unless_current "About", '/about'
          %li= link_to_unless_current "Skills", '/skills'
          - if request.url.include? 'projects'
            %li= link_to "Projects", '/projects', class: 'current'
          - else
            %li= link_to "Projects", '/projects'
          %li= link_to "Resume", 'http://careers.stackoverflow.com/dickey', target: '_blank'
          %li= link_to "Facebook", 'http://facebook.com/dickeyj'
          %li= link_to "LinkedIn", 'http://linkedin.com/in/dickeyxxx'
          %li= link_to "GitHub", 'http://github.com/dickeyxxx'
          - if admin_user_signed_in?
            %li= link_to_unless_current "Admin", '/admin'
            %li= link_to_unless_current "Add New Post", '/admin/posts/new'
      %span.email jeff@dickey.xxx
    #content
      = yield
